[submodule "third-party/lighteval"]
	path = third-party/lighteval
	url = https://github.com/huggingface/lighteval.git
[submodule "third-party/vllm"]
	path = third-party/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "third-party/xformers"]
	path = third-party/xformers
	url = https://github.com/facebookresearch/xformers.git
[submodule "third-party/fast-hadamard-transform"]
	path = third-party/fast-hadamard-transform
	url = https://github.com/Dao-AILab/fast-hadamard-transform.git
[submodule "third-party/llm-compressor"]
	path = third-party/llm-compressor
	url = https://github.com/vllm-project/llm-compressor/
